In [1]:
import numpy as np
import pandas as pd

data_2014 = pd.read_csv("fire_archive_M-C61_2014 - Copy.csv")

#frp > 70
frp_70 = data_2014[data_2014["frp"] > 70][["acq_date", "latitude", "longitude"]]
print(frp_70)

       acq_date  latitude  longitude
21   2014-02-01   27.6812    89.4507
29   2014-02-03   26.8800    91.9563
41   2014-02-06   26.8581    91.1047
76   2014-03-02   27.4053    91.1959
77   2014-03-02   27.4104    91.1903
84   2014-03-03   27.4152    91.2063
123  2014-03-17   27.1401    89.0393
125  2014-03-17   27.1409    89.0341
126  2014-03-17   27.1391    89.0516
137  2014-03-18   26.9969    91.2931
144  2014-03-18   27.0377    90.9279
148  2014-03-24   27.2554    91.2114
185  2014-04-11   27.4968    89.9446
186  2014-04-11   27.4954    89.9332
190  2014-04-11   27.5062    89.9423
217  2014-04-21   27.1834    91.3515
221  2014-04-22   27.3559    91.5803
222  2014-04-22   27.3507    91.5720
232  2014-04-22   27.1673    91.3652
242  2014-04-22   27.3557    91.5773
244  2014-04-22   27.1778    91.3734
246  2014-04-22   27.3663    91.5928
274  2014-04-23   27.3785    91.6219
275  2014-04-23   27.3759    91.5854
277  2014-04-23   27.1538    91.3446
278  2014-04-23   27.1469    91.3364
279  2014-04-23   27.3559    91.6385
280  2014-04-23   27.3532    91.6025
281  2014-04-23   27.3507    91.5688
282  2014-04-23   27.3744    91.6687
283  2014-04-23   27.3714    91.6300
284  2014-04-23   27.3686    91.5932
285  2014-04-23   27.3662    91.5620
286  2014-04-23   27.3895    91.6552
287  2014-04-23   27.3870    91.6235
288  2014-04-23   27.3471    91.6339
289  2014-04-23   27.3447    91.5990
290  2014-04-23   27.3423    91.5640
292  2014-04-23   27.3628    91.6282
293  2014-04-23   27.3603    91.5926
294  2014-04-23   27.3579    91.5583
295  2014-04-23   27.3810    91.6574
316  2014-04-24   27.3779    91.6083
317  2014-04-24   27.3759    91.5964
328  2014-04-25   27.2458    90.0362
329  2014-04-25   27.2444    90.0487
343  2014-04-27   27.2310    90.1427
344  2014-04-27   27.2291    90.1634
345  2014-04-27   27.2329    90.1589
374  2014-09-18   27.2538    90.0644
375  2014-09-18   27.2525    90.0545
410  2014-12-25   27.4349    89.6397